<a href="https://colab.research.google.com/github/MakC-Ukr/DEX-implementation-1/blob/master/data-extraction/Copy_of_SOLValidation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import math
import numpy as np
import pandas as pd
from scipy.stats import binom
from matplotlib.widgets import Cursor
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
EPOCH_TO_EVALUATE=364

In [ ]:
path = f"drive/Shared drives/Model/Data Extraction/SOLANA/epoch-{EPOCH_TO_EVALUATE}/SOLValidationValidators.csv"
df_validators= pd.read_csv(path)
df_validators.dropna(axis=0,inplace=True)

path = f"drive/Shared drives/Model/Data Extraction/SOLANA/epoch-{EPOCH_TO_EVALUATE}/SOLValidationEPOCH.csv"
df_epoch= pd.read_csv(path, index_col=0)
df_epoch.dropna(axis=0,inplace=True)

path = f"drive/Shared drives/Model/Data Extraction/SOLANA/epoch-{EPOCH_TO_EVALUATE}/uptime.csv"
df_uptime= pd.read_csv(path)
df_uptime.dropna(axis=0,inplace=True)

df_epoch.reset_index(inplace=True)
df_validators.reset_index(inplace=True)

In [ ]:
df_uptime

,validator,stake,credits,uptime,points
0,82n1Pd5fSmmTBXuRfuaXbaKYkT6EnzA6PaZwFRGs83cB,6.589727e+13,400200,0.93,2.637209e+10
1,5F2HsNA9j1A27gFH253kxbbsmh4dWUDxFJNFrQuFdXcJ,7.265290e+13,407243,0.94,2.958739e+10
2,7K316SSJjaLvm95CQe2XuLjYsntQqUDUAwQ71jZZdRxw,6.468785e+13,406999,0.94,2.632789e+10
3,G7hg9wqUirR1exYVkEAuraD1y6Z9oYJEV1QCM8HQ69g5,6.404494e+13,395266,0.91,2.531479e+10
4,6jRRQHGTBa88VnmgrkXHTTyEcuak28J5AV2FAP4WFU86,6.499407e+13,404030,0.94,2.625955e+10
...,...,...,...,...,...
2276,GuREg5ti2Pg77MXVvnPhwczjWWjRW56jb8EyKUaesrid,1.329935e+13,127124,0.29,1.690666e+09
2277,7xpGAKm2Afc94L8nQ2EJFDwF4xNuKjWaYiW5bkAmE9RG,1.047694e+11,0,0.00,0.000000e+00
2278,2xjAQsHLsV36NLFkxdApzLg4SNqm15mNqYaBQ4xp5joh,6.234802e+12,0,0.00,0.000000e+00
2279,8drPe3FbV8SjsU8S415vtjarTnW9XR9TGaXbhAdWRUWp,1.010535e+11,0,0.00,0.000000e+00
2280,FSj7gzzNHhALp1qVP7BLqbakcLSMNosEtykLn69vHXyk,3.371296e+11,0,0.00,0.000000e+00

In [ ]:
df_uptime['uptime'] = pd.to_numeric(df_uptime['uptime'])
df_uptime['stake'] = pd.to_numeric(df_uptime['stake'])

In [ ]:
# df_uptime = df_uptime[(df_uptime != 0).all(axis=1)]
# print(df_uptime)
Stake_weighted_uptime_o    = sum(df_uptime['uptime'] * df_uptime['stake'])/  sum( df_uptime['stake'] )
print(Stake_weighted_uptime_o)
simple_uptime_o = df_uptime['uptime'].mean()
print(simple_uptime_o)

0.9326490331707109
0.8508987286277948

In [ ]:
df_validators.Credits_earned              = df_validators.Credits_earned.astype(str).astype(float)
df_validators['staked amount']            = df_validators['staked amount (lamp)'].astype(str).astype(float)

df_validators.drop(df_validators.columns.difference(['Credits_earned','points_earned (sol)','staked amount','epoch tot rewards']), 1, inplace=True)

try:
  df_epoch.rename(index = lambda s:df_epoch.Parameter[s],inplace=True)
except:
  print('Already run this code once')

df_validators['Expected Rewards']               = df_validators.apply(lambda _: '', axis=1)
df_validators['Expected APY']                   = df_validators.apply(lambda _: '', axis=1)
df_validators['Absolute Difference in Rewards'] = df_validators.apply(lambda _: '', axis=1)
df_validators['% Difference in Rewards']        = df_validators.apply(lambda _: '', axis=1)
df_validators['uptime']                         = df_validators.apply(lambda _: '', axis=1)

df_epoch.Value.slotsPerEpoch  = float(df_epoch.Value.slotsPerEpoch)
df_validators['uptime']       = df_validators.Credits_earned  / df_epoch.Value.slotsPerEpoch


df_epoch.drop(df_epoch.columns.difference(['Value']), 1, inplace=True)

df_validators                                = df_validators.reindex(columns = ['Credits_earned','points_earned (sol)','staked amount', 'uptime','epoch tot rewards', 'Expected Rewards', 'Expected APY', 'Absolute Difference in Rewards', '% Difference in Rewards'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [ ]:
df_validators

,Credits_earned,points_earned (sol),staked amount,uptime,epoch tot rewards,Expected Rewards,Expected APY,Absolute Difference in Rewards,% Difference in Rewards
0,391016.0,4266876893214,1.091228e+16,0.905130,4969.221658,,,,
1,404544.0,3266387060695,8.074244e+15,0.936444,3804.047249,,,,
2,404582.0,2670243070189,6.600005e+15,0.936532,3109.775628,,,,
3,405973.0,2607898132129,6.423822e+15,0.939752,3037.168466,,,,
4,407323.0,2538649354327,6.232521e+15,0.942877,2956.521043,,,,
5,404033.0,2159513787618,5.344895e+15,0.935262,2514.977169,,,,
6,407371.0,2131920578606,5.233364e+15,0.942988,2482.843120,,,,
7,408943.0,2001667266814,4.894734e+15,0.946627,2331.149606,,,,
8,407645.0,1910871099748,4.687586e+15,0.943623,2225.408014,,,,
9,407103.0,1916592019080,4.707880e+15,0.942368,2232.070635,,,,
10,406942.0,1854675266442,4.557591e+15,0.941995,2159.962050,,,,
11,407353.0,1853931495896,4.551167e+15,0.942947,2159.095934,,,,
12,411373.0,1851893041853,4.501737e+15,0.952252,2156.721857,,,,
13,405063.0,1769930899093,4.369520e+15,0.937646,2061.268517,,,,
14,408298.0,1789260163741,4.382241e+15,0.945134,2083.779432,,,,
15,408392.0,1733378509914,4.244399e+15,0.945352,2018.699460,,,,
16,407428.0,1582669009504,3.884537e+15,0.943120,1843.182433,,,,
17,412299.0,1518909477608,3.684000e+15,0.954396,1768.927978,,,,
18,408812.0,1459413343303,3.569889e+15,0.946324,1699.638545,,,,
19,404356.0,47436000807,1.173125e+14,0.936009,55.244154,,,,

In [ ]:
df_validators

,Credits_earned,points_earned (sol),staked amount,uptime,epoch tot rewards,Expected Rewards,Expected APY,Absolute Difference in Rewards,% Difference in Rewards
0,391016.0,4266876893214,1.091228e+16,0.905130,4969.221658,,,,
1,404544.0,3266387060695,8.074244e+15,0.936444,3804.047249,,,,
2,404582.0,2670243070189,6.600005e+15,0.936532,3109.775628,,,,
3,405973.0,2607898132129,6.423822e+15,0.939752,3037.168466,,,,
4,407323.0,2538649354327,6.232521e+15,0.942877,2956.521043,,,,
5,404033.0,2159513787618,5.344895e+15,0.935262,2514.977169,,,,
6,407371.0,2131920578606,5.233364e+15,0.942988,2482.843120,,,,
7,408943.0,2001667266814,4.894734e+15,0.946627,2331.149606,,,,
8,407645.0,1910871099748,4.687586e+15,0.943623,2225.408014,,,,
9,407103.0,1916592019080,4.707880e+15,0.942368,2232.070635,,,,
10,406942.0,1854675266442,4.557591e+15,0.941995,2159.962050,,,,
11,407353.0,1853931495896,4.551167e+15,0.942947,2159.095934,,,,
12,411373.0,1851893041853,4.501737e+15,0.952252,2156.721857,,,,
13,405063.0,1769930899093,4.369520e+15,0.937646,2061.268517,,,,
14,408298.0,1789260163741,4.382241e+15,0.945134,2083.779432,,,,
15,408392.0,1733378509914,4.244399e+15,0.945352,2018.699460,,,,
16,407428.0,1582669009504,3.884537e+15,0.943120,1843.182433,,,,
17,412299.0,1518909477608,3.684000e+15,0.954396,1768.927978,,,,
18,408812.0,1459413343303,3.569889e+15,0.946324,1699.638545,,,,
19,404356.0,47436000807,1.173125e+14,0.936009,55.244154,,,,

In [ ]:
simple_uptime_o

0.8508987286277948

In [ ]:
Stake_weighted_uptime_o

0.9326490331707109

In [ ]:
df_epoch

                                                                 Value
INFLATION_RATE                                           0.06606855659
total_supply_t                                      531974270649986926
slot_time                                                 0.4571990741
sps_t                                                      1755.999985
DISINFLATION_RATE                                                 0.15
LONG_TERM_INFLATION_RATE                                         0.015
EPOCHS_PER_YEAR                                                  182.5
TARGET_TIME                                                        400
SPS_TARGET                                                       20000
LAMPORTS_PER_SIGNATURE                                           10000
FEE_BURN_PCT                                                        50
epoch                                                              364
slotsPerEpoch                                                 432000.0
AVG_weighed_uptime                                        0.9320328599
%SOL_staked                                               0.7686540042
INITIAL_INFLATION_RATE                                            0.08
voteCredits^v_t                                                 404356
SOL_staked^v_t                                         117312469228800
Rewards_attester                                            5524415391
Validator id              Ak5BJzQe2R8qFuyYmaAFPjXuD7XPux3ZNTv52D7rfiqR
totalPoints                                   164697262925808701262339

In [ ]:
print(Stake_weighted_uptime_o)
print(df_epoch.Value['AVG_weighed_uptime'])
print(Stake_weighted_uptime_o-float(df_epoch.Value['AVG_weighed_uptime']))

0.9326490331707109
0.9320328599
0.0006161732707109513

In [ ]:
# Constants from Network
uptime_o            = Stake_weighted_uptime_o
#uptime_o            = float(df_epoch.Value['uptime^o_t'])
total_supply        = float(df_epoch.Value['total_supply_t'])/1E9
SOL_staked_Pct      = float(df_epoch.Value['%SOL_staked'])
slot_time           = float(df_epoch.Value['slot_time'])*1000  
EPOCHS_PER_YEAR       = float(df_epoch.Value['EPOCHS_PER_YEAR'])
TARGET_TIME           = float(df_epoch.Value['TARGET_TIME'])    # ms
SPS_TARGET            = float(df_epoch.Value['SPS_TARGET'])
LAMPORTS_PER_SIGNATURE  = float(df_epoch.Value['LAMPORTS_PER_SIGNATURE'])      # lamports
slotsPerEpoch         = float(df_epoch.Value['slotsPerEpoch']) 
FEE_BURN_PCT          = float(df_epoch.Value['FEE_BURN_PCT'])/100 
INITIAL_INFLATION_RATE  = float(df_epoch.Value['INITIAL_INFLATION_RATE']) 
DISINFLATION_RATE       = float(df_epoch.Value['DISINFLATION_RATE'] )
LONG_TERM_INFLATION_RATE= float(df_epoch.Value['LONG_TERM_INFLATION_RATE'] )
INFLATION_RATE        = float(df_epoch.Value['INFLATION_RATE'] )
sps_t                 = float(df_epoch.Value['sps_t'])

In [ ]:
# uptime_o = simple_uptime_o

In [ ]:
# Parameters to be varied by validator
for i in range(len(df_validators)):
# for i in range(1):
  stake               = float(df_validators['staked amount'][i])/1E9
  uptime_v              = float(df_validators['uptime'][i])

  # Calculations of the current epoch
  # E_validator_rewards =  ( (1+INFLATION_RATE)**(1/EPOCHS_PER_YEAR)-1 )  * total_supply/SOL_staked_Pct 
  E_validator_rewards =  INFLATION_RATE/EPOCHS_PER_YEAR  * total_supply 
  E_validator         = stake / (SOL_staked_Pct*total_supply) * uptime_v /uptime_o* E_validator_rewards   # IGNORED RENT
  E_txFees            = slotsPerEpoch *(1- FEE_BURN_PCT) * LAMPORTS_PER_SIGNATURE * 1E-09 * pow(sps_t,2) / SPS_TARGET
  E_MEV               = 0
  E_slotLeader        = E_validator + E_txFees + E_MEV

  P_slotLeader = stake/(SOL_staked_Pct*total_supply)  
  P_validator = (1-P_slotLeader)
  P_slotLeader= P_slotLeader

  E_rewards = P_slotLeader*E_slotLeader + P_validator*E_validator
  df_validators['Expected Rewards'][i] = E_rewards
  df_validators['Absolute Difference in Rewards'][i] = E_rewards - float(df_validators['epoch tot rewards'][i])
  df_validators['% Difference in Rewards'][i] = (E_rewards - float(df_validators['epoch tot rewards'][i])) / float(df_validators['epoch tot rewards'][i]) *100

  # print("P_slotLeader:", P_slotLeader)
  # print("E_slotLeader:", E_slotLeader)
  # print("The expected slotLeader reward given to a validator over the epoch is: "+ str(P_slotLeader*E_slotLeader) )
  # print("The expected validator rewards given to a validator over the epoch is: "+ str(P_validator*E_validator) )
  # print("The expected total rewards given to a validator over the epoch is: " + str(E_rewards) )
  APY = E_rewards/stake*EPOCHS_PER_YEAR*TARGET_TIME/slot_time
  df_validators['Expected APY'][i] = APY
  # print("The expected APY for the year is: "+ str(APY) )
  # print(i)

In [ ]:
df_validators

,Credits_earned,points_earned (sol),staked amount,uptime,epoch tot rewards,Expected Rewards,Expected APY,Absolute Difference in Rewards,% Difference in Rewards
0,391016.0,4266876893214,1.091228e+16,0.905130,4969.221658,4987.801688,0.072981,18.58003,0.373902
1,404544.0,3266387060695,8.074244e+15,0.936444,3804.047249,3818.27067,0.075506,14.223421,0.373902
2,404582.0,2670243070189,6.600005e+15,0.936532,3109.775628,3121.40313,0.075513,11.627502,0.373902
3,405973.0,2607898132129,6.423822e+15,0.939752,3037.168466,3048.52449,0.075773,11.356024,0.373902
4,407323.0,2538649354327,6.232521e+15,0.942877,2956.521043,2967.575548,0.076025,11.054505,0.373902
5,404033.0,2159513787618,5.344895e+15,0.935262,2514.977169,2524.381833,0.075411,9.404664,0.373946
6,407371.0,2131920578606,5.233364e+15,0.942988,2482.843120,2492.126519,0.076034,9.283399,0.373902
7,408943.0,2001667266814,4.894734e+15,0.946627,2331.149606,2339.865813,0.076327,8.716207,0.373902
8,407645.0,1910871099748,4.687586e+15,0.943623,2225.408014,2233.728869,0.076085,8.320855,0.373902
9,407103.0,1916592019080,4.707880e+15,0.942368,2232.070635,2240.416386,0.075984,8.345751,0.373902
10,406942.0,1854675266442,4.557591e+15,0.941995,2159.962050,2168.038276,0.075954,8.076226,0.373906
11,407353.0,1853931495896,4.551167e+15,0.942947,2159.095934,2167.168839,0.07603,8.072905,0.373902
12,411373.0,1851893041853,4.501737e+15,0.952252,2156.721857,2164.785971,0.076781,8.064114,0.373906
13,405063.0,1769930899093,4.369520e+15,0.937646,2061.268517,2068.975634,0.075603,7.707117,0.373902
14,408298.0,1789260163741,4.382241e+15,0.945134,2083.779432,2091.570741,0.076207,7.791309,0.373903
15,408392.0,1733378509914,4.244399e+15,0.945352,2018.699460,2026.247411,0.076224,7.547951,0.373902
16,407428.0,1582669009504,3.884537e+15,0.943120,1843.182433,1850.074271,0.076044,6.891838,0.37391
17,412299.0,1518909477608,3.684000e+15,0.954396,1768.927978,1775.542029,0.076954,6.614051,0.373902
18,408812.0,1459413343303,3.569889e+15,0.946324,1699.638545,1705.993521,0.076303,6.354976,0.373902
19,404356.0,47436000807,1.173125e+14,0.936009,55.244154,55.450713,0.075471,0.206559,0.373902

In [ ]:
# df_validators.to_csv(f"drive/Shared drives/Model/Data Extraction/SOLANA/epoch-{EPOCH_TO_EVALUATE}/SOLANAValidationOutput.csv")